<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Full-Room</title>
</head>
<body>
    <h2>Full-Room</h2>
    <form method="POST">{% csrf_token %}
        Lebar Ruangan (x): <input type="text" name="x-width" required="required"><br>
        Panjang Ruangan (y): <input type="text" name="y-length" required="required"><br>
        Jumlah orang sehat: <input type="number" name="healthy" required="required"><br>
        Jumlah orang sakit: <input type="number" name="sick" required="required"><br><br>
        Titik ruangan yang tidak mau digunakan: <input type="text" name="invalids" required="required"><br>
        <b>Format titik ruangan: x1,y1;x2,y2;...;xn,yn</b>
        <input type="submit" value="SUBMIT">
    </form>
</body>
